<h1>Five Oceans!</h1>

<p>
  This is the future Home Page of the
  <a href="http://www.5oceans.biz/">"Five Oceans!"</a> website, the place for all your regatta-related needs.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

