<h1>Cinco Oceanos!</h1>

<p>
  This is the future home page for the
  <a href="http://www.5oceans.biz/">"Five Oceans!"</a>website, the place for all your regatta-related needs.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

